.event-card {
    background-color:#d5c1db;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .event-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .event-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .event-place {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .event-date,
  .event-address {
    margin: 5px 0;
  }
  
  .event-buttons {
    margin-top: 100px;
  }
  
  .event-buttons button {
    background-color: #6c4e75;
    color: rgb(0, 0, 0);
    border: none;
    padding: 25px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .event-buttons button:hover {
    background-color: #ceb2b2;
  }
  