/* src/components/IconWithGif.css */
.icon-container {
    text-align: center;
    margin-top: 0px;
  }
  
  .icon {
    cursor: pointer;
    display: inline-block;
  }
  
  .gif {
    display: block;
    margin: 10px auto;
    max-width: 100%;
  }
  
  