/* General Styles */
.invitacion {
  font-family: "Manuscrita", Times New Roman;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #9fc095;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  background: #EAE0ED;
}
.imagen-principal {
  max-width: 100%;
  height: auto;
}

.contenido {
  padding: 20px;
  text-align: center;
}

.contenido h1 {
  color: #6c4e75;
}

.contenido p {
  margin-bottom: 10px;
}

/* Countdown Styles */
.cuenta-regresiva {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.cuenta-regresiva .time {
  display: inline-block;
  margin: 10px;
}

.cuenta-regresiva .time span {
  display: block;
  font-size: 2em;
}

/* Event Container Styles */
.events-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.event-card {
  background-color: #a786b0;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px; /* Adjust as needed */
  flex: 1 1 300px; /* Ensures cards are of the same width */
  box-sizing: border-box; /* Ensures padding is included in the width */
  max-width: 300px; /* Ensures that cards do not grow too large */
}

.event-image {
  width: 100%;
  border-radius: 10px;
}

.event-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.event-place {
  margin: 10px 0;
  font-weight: bold;
}

.event-date,
.event-address {
  margin: 5px 0;
}

.event-buttons {
  margin-top: 10px;
}

.event-buttons button {
  background-color: #6c4e75;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.event-buttons button:hover {
  background-color: #423f3f;
}

/* Attendance Counter Styles */
.contadores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.contador-asistentes,
.contador-no-asistentes {
  color: #C8A2C8;
  font-weight: bold;
}

/* Attendance Button Styles */
.botones-asistencia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.confirmar-btn,
.no-asistira-btn {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C8A2C8;
  color: #fff;
}

.confirmar-btn:hover,
.no-asistira-btn:hover {
  background-color: #a97ca9;
}

.confirmar-btn:disabled,
.no-asistira-btn:disabled {
  background-color: #c8a2c8;
  cursor: not-allowed;
}

/* Map Styles */
.map-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
  border: 1px solid #f00f0f;
  border-radius: 10px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px 10px 0 0;
}

.close-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.close-btn {
  background-color: #D19191;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #B97B7B;
}

/* WhatsApp Widget Styles */
.whatsapp-widget .rw-send {
  content: 'Enviar' !important;
  display: block;
  text-align: center;
}

/* Media Queries */

/* Styles for devices with a maximum width of 600px (mobiles) */
@media (max-width: 600px) {
  .cuenta-regresiva .time {
    margin: 5px;
  }

  .cuenta-regresiva .time span {
    font-size: 1.5em;
  }

  .events-container {
    flex-direction: column;
    align-items: center;
  }

  .event-card {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
  }

  .contadores {
    flex-direction: column;
    gap: 20px;
  }

  .botones-asistencia {
    flex-direction: column;
    gap: 10px;
  }

  .confirmar-btn,
  .no-asistira-btn {
    width: 100%;
  }
}

/* Styles for devices with a width between 601px and 900px (tablets and small desktops) */
@media (min-width: 601px) and (max-width: 900px) {
  .event-card {
    width: 45%;
    max-width: 45%;
  }

  .botones-asistencia {
    gap: 15px;
  }
}
